<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppComunidad"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.mapbox.ACCESS_TOKEN"
            android:value="pk.eyJ1IjoiZGVtbzEyMyIsImEiOiJja3drcnU4MmEwM2UyMnFwZ2F1cTRuZ2lpIn0.3s1KoYnFd9U60XYVfH_4hA" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".AdministradorActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ArtesanoActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".DetalleCompraActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ComprasActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".EnviosActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".DetalleEnvioActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>